/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .btn-vinted {
    background-color: white;
    color: #007782;
    font-size: 14px;
    border-radius: 8px;
    border: #007782 solid 1px;
    margin: 0 auto;
    padding: 1px 5px;
    font-weight: 600;
    text-align: center;
    width: 55%;
    font-style: italic;
    opacity: 0.7;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.btn-estimate {
  border: gray solid 1px;
  padding: 2px;
  text-align: center;
  border-radius: 8px;
  opacity: 0.7;
}
